instagrapi==1.18.3
python-dotenv==0.21.1
python-telegram-bot==20.1
python-telegram-bot[job-queue]==20.1
python-telegram-bot[rate-limiter]==20.1
Pillow==8.1.1
validators==0.20.0
file-validator==0.3.4
moviepy==1.0.3
psycopg2-binary==2.9.5
pytz==2023.3
sentry-sdk==1.28.1
